<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Web Shop Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<h1 class="text-center">Web Shop Demo</h1>
</head>

<body>
	<div class="container my-2">
		<h2>Vásárlók</h2>
		<div class="card">
			<div class="card-body">
				<div th:switch="${customers}" class="container my-5">
					<p class="my-5">
						<a href="/customerRegister" class="btn btn-primary">
							<i class="fas ml-2"> Vásárló hozzáadása </i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">Nem található vásárló!</h2>
						<div>
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Id</th>
										<th>Vezetéknév</th>
										<th>Keresztnév</th>
										<th>Email</th>
										<th>Telefonszám</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="customer : ${customers}">
										<td th:text="${customer.id}"></td>
										<td th:text="${customer.lastName}"></td>
										<td th:text="${customer.firstName}"></td>
										<td th:text="${customer.email}"></td>
										<td th:text="${customer.phone}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container my-2">
		<h2>Termékek</h2>
		<div class="card">
			<div class="card-body">
				<div th:switch="${products}" class="container my-5">
					<p class="my-5">
						<a href="/productRegister" class="btn btn-primary">
							<i class="fas ml-2"> Termék hozzáadása </i></a>
					</p>
					<div class="col-md-10">
						<h2 th:case="null">Nem található termék!</h2>
						<div>
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Id</th>
										<th>Terméknév</th>
										<th>Típus</th>
										<th>Ár</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="product : ${products}">
										<td th:text="${product.id}"></td>
										<td th:text="${product.productName}"></td>
										<td th:text="${product.type}"></td>
										<td th:text="${product.price}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--	<div class="container my-2">-->
<!--		<h2>Rendelések</h2>-->
<!--		<div class="card">-->
<!--			<div class="card-body">-->
<!--				<div th:switch="${products}" class="container my-5">-->
<!--					<div class="col-md-10">-->
<!--						<h2 th:case="null">Nem található termék!</h2>-->
<!--						<div>-->
<!--							<table class="table table-striped table-responsive-md">-->
<!--								<thead>-->
<!--									<tr>-->
<!--										<th>Id</th>-->
<!--										<th>Vásárló Id</th>-->
<!--										<th>Termék Id</th>-->
<!--									</tr>-->
<!--								</thead>-->
<!--								<tbody>-->
<!--									<tr th:each="order : ${orders}">-->
<!--										<td th:text="${order.id}"></td>-->
<!--										<td th:text="${order.customerId}"></td>-->
<!--										<td th:text="${order.productId}"></td>-->
<!--									</tr>-->
<!--								</tbody>-->
<!--							</table>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
</body>

</html>